@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300;1,400&family=Outfit:wght@600&family=Oxygen&family=Roboto&display=swap');

*{
  color: white;
  background-color: black;
  font-family: 'Merriweather', serif;
  font-family: 'Outfit', sans-serif;
  font-family: 'Oxygen', sans-serif;
  font-family: 'Roboto', sans-serif;
}
input{
  display: block;
  text-align: center;
}
.bottom{
  position: absolute;
  width: 749px;
  height: 134px;
  left: 87px;
  top: 336px;
  
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 66px;
}
.slogan{
  position: absolute;
  width: 787px;
  height: 122px;
  left: 82px;
  top: 533px;

  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 66px;
}
.logo{
  position: absolute;
  width: 176px;
  height: 57px;
  left: 102px;
  top: 92px;

  font-family: 'Outfit';
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 66px;
}
.more{
  position: absolute;
  width: 321px;
  height: 82px;
  left: 102px;
  top: 776px;
  color:black;

  background: #D9D9D9;
  border-radius: 30px;
  font-size: 30px;
  font-weight: 600;
  line-height: 66px;
  text-align: center;
  text-decoration: none;
  padding-top: 10px;
}
.top{
  text-align: end;
}

/* login page */
.login{
  width: 450px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}