.aboutimg{
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background: url(../assets/Blu.jpg);
  z-index:-1;
  margin:0%;
  background-size: cover;
  background-position:center;
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: auto;
}
.about{
  width: 900px;
  margin: auto;
  padding: 25px;
  border-radius: 10px;
  background: #569DAA;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
}
p.about{
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
}