table {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}
th, td {
  padding: 8px;
  border: 1px solid #ddd;
  font-weight: normal;
}
th {
  text-align: left;
  background-color: #F2F2F2;
}