form.reportfom{
 margin: 0%;
 padding: 0%;
}
.Radio{
  margin: 0%;
  padding: 10px;
  width: 1.5em;
  display: inline-flex;
  background:  #569DAA;

}
.reportcard{
  margin: auto;
  width: 500px;
  margin-top: 6%;
  padding:25px;
  background:  #569DAA;
  border-radius: 0.4em;
  box-shadow: 0.3em 0.3em 0.7em #00000015;
  transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border: rgb(250, 250, 250) 0.2em solid  
}
.labelCo{
  background: #569DAA;
}
.reportbackground{
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background: url(../assets/Blu.jpg);
  z-index:-1;
  margin:0%;
  background-size: cover;
  background-position:center;
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: auto;
}